name: Publish API
on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - "api/**"
      - "app/data/**"
      - ".github/workflows/api.yaml"
      - "scripts/commands/compile.ts"
      - "scripts/commands/update.ts"

env:
  API_URL: https://api.samepage.network
  API_GATEWAY_ID: ${{ secrets.API_GATEWAY_ID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.LAMBDA_AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.LAMBDA_AWS_ACCESS_SECRET }}
  AWS_REGION: us-east-1
  CLERK_API_KEY: ${{ secrets.CLERK_API_KEY }}
  CONVERTKIT_API_KEY: ${{ secrets.CONVERTKIT_API_KEY }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  IS_PRODUCTION: 1
  ORIGIN: https://samepage.network
  STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
  STRIPE_WEBHOOK_SECRET: ${{ secrets.STRIPE_WEBHOOK_SECRET }}
  SVIX_SECRET: ${{ secrets.SVIX_SECRET }}
  WEB3_STORAGE_API_KEY: ${{ secrets.WEB3_STORAGE_API_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: npm install
      - name: build
        run: npx ts-node scripts/cli.ts compile
      - name: deploy
        run: npx ts-node scripts/cli.ts update
