name: Run Full Tests Suite
on:
  pull_request:
  workflow_dispatch:
  push:
    branches: main

env:
  API_URL: http://localhost:3003
  AWS_ACCESS_KEY_ID: ${{ secrets.DEPLOY_AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DEPLOY_AWS_ACCESS_SECRET }}
  AWS_REGION: us-east-1
  CLERK_API_KEY: ${{ secrets.STAGING_CLERK_API_KEY }}
  CLERK_FRONTEND_API: clerk.in.horse-0.lcl.dev
  DATABASE_URL: mysql://root:root@localhost:3306/samepage_network
  ORIGIN: http://localhost:3000
  WEB3_STORAGE_API_KEY: ${{ secrets.WEB3_STORAGE_API_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-22.04
    # c8 was not picking up coverage on package/components in 20.04 - maybe try in the future with 22.04
    # runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: npm install
      # sudo systemctl start mysql.service
      - name: setup mysql + playwright
        run: |
          npx playwright install
          brew install mysql
          /usr/local/opt/mysql/bin/mysql.server start
          mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'root'" -uroot
          mysql -e "CREATE DATABASE samepage_network" -uroot -proot
          echo "DATABASE CREATED!"
          node scripts/debug.js
          mysql -uroot -proot --host=localhost --port=3306 --database=samepage_network -e "SHOW GLOBAL VARIABLES LIKE 'PORT';"
          echo "SHOW PORT!"
          npx fuego plan --sql
          echo "DATABASE PLANNED!"
          npx fuego apply --sql --bare
          echo "DATABASE APPLIED!"
          mysql -e "INSERT INTO samepage_network.quotas (uuid, value, field) VALUES (UUID(), 100, 0), (UUID(), 3, 1)" -uroot -proot
          echo "DATABASE SEEDED!"
      # We separated unit tests and integration tests because c8 was having a hard time consolidating reports - but code cov wasn't!
      - name: Unit Tests
        run: npm t -- --project=unit
      - name: Upload Unit Test Coverage to Codecov
        uses: codecov/codecov-action@v3      
      - name: Integration Tests
        run: npm t -- --project=integration
      - name: Upload Integration Test Coverage to Codecov
        uses: codecov/codecov-action@v3
